
:root {
  --color-grey-primary: #f0f0f0;
  --color-yellow-primary: goldenrod;   
  --color-orange-primary: darkorange;
  --color-green-primary: mediumseagreen;
}
 

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}


main {
  min-height: 85vh;
}


.rating span {
  margin: 0.1rem;
}




.back-icon {  
  top: 10px;
  left: 10px;
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.back-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.productImage {
  margin-top: 2rem;
  max-width: 97%;
  height: auto;
  border-radius: 2%;
  margin: 2%;
  margin-right: 1%;
}